## Step 2: Data wrangling
In this notebook we are going through the basics of data wrangling using pandas employing the same dataset as the one of the first step.
In order to import the dataset, we use read_csv again, with the only difference that this time, we add the header while importing the dataset.
We use df.head() to visualize the dataset after importing it.

In [8]:
import numpy as np
import pandas as pd 
url ="https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data"
givenHeader = ["symboling","normalized-losses","make","fuel-type","aspiration",
"num-of-doors","body-style","drive-wheels","engine-location","wheel-base","length",
"width","height","curb-weight","engine-type","num-of-cylinder","engine-size",
"fuel-system","bore","stroke","compression-ratio","horsepower","peak-rpm",
"city-mpg"," highway-mpg","price"]


df = pd.read_csv(url, names =givenHeader )
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

## Dealing with missing values, Step 1: identifying 

Now we would like to see the ways we can deal with the missing values in our dataset.
First, we should see how to identify the missing data.

### Replacing "?" with nan
by having a look on the dataset we can see that there are several cells in which we have the symbol "?" which represents the missing value, so the first step is replacing "?" with nan  which is Python's default missing value marker.
In order to so we can do it either for a certain column,or for the whole dataset. In order to do the latter for a certain column, we can use list comprehension: So first let's find the boolean vector of the "normalized-losses" column being equal to "?"

In [11]:
df["normalized-losses"]=="?"

0       True
1       True
2       True
3      False
4      False
5       True
6      False
7       True
8      False
9       True
10     False
11     False
12     False
13     False
14      True
15      True
16      True
17      True
18     False
19     False
20     False
21     False
22     False
23     False
24     False
25     False
26     False
27     False
28     False
29     False
       ...
175    False
176    False
177    False
178    False
179    False
180    False
181     True
182    False
183    False
184    False
185    False
186    False
187    False
188    False
189     True
190    False
191     True
192     True
193     True
194    False
195    False
196    False
197    False
198    False
199    False
200    False
201    False
202    False
203    False
204    False
Name: normalized-losses, dtype: bool

we can now replace those with np.nan

In [12]:
df["normalized-losses"][df["normalized-losses"]=="?"] = np.nan

C:\Users\behzad\AppData\Local\Enthought\Canopy\edm\envs\User\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Don't worry if you received a warning

### repalce function 
An easier approach is applying the replace function on the whole dataset: .replace(A, B, inplace = True)

In [13]:
df.replace("?",np.nan,inplace=True)
df.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,NaN,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,NaN,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

 ## Evaluating for Missing Data
 The next step is to identify the missing values. In order to do so, we can use .isnull and .notnull the ouput of which are boolean values

In [14]:
missingValues = df.isnull()

missingValues.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Count missing values in each column
now that we have the boolean equivalent we can use the .value_counts() in order to count the number of True values for each column
so for example for the second  columsn

In [ ]:
missingValues["normalized-losses"].value_counts()

Next, we can use a for loop in order to find the number of missing value using the above-mentioned command
So I will first define an empty Series called missing_value_count, and then I insert the number of missing value of each column in each iteration:

In [16]:
missing_value_count=pd.Series()
for column in missingValues.columns: 
    #print column+" has the following number of missing values"
    if True in missingValues[column].value_counts().index:
        missing_value_count[column]= missingValues[column].value_counts()[True]
    else:
        missing_value_count[column] = 0
missing_value_count

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinder       0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
 highway-mpg          0
price                 4
dtype: int64

## How to deal with missing values
#while dealing with missing values, we have several options 
1. droping the data which can be droping the whole row or dropping the whole column:
droping the whole column only make sense in case most of the entries in that column are missing which is not the case for our dataset, though dropping the rows can be meaningful

2. the second apprach is replacing the data:
which  can involve replacing it by the mean of that column, replacing it with the most frequent item of the colmn or replacing using other functions. Each of these approaches can be used based on the properties of the data given in each column. We will apply each method to many different columns. For the columns with continuos values ("normalized-losses","stroke","bor","horsepower","peak-rpm") we repalce them with the mean. For the rather categorical variables ("num-of-doors") we replace it by the most frequent values. In other words, 84% sedans is four doors. Since four doors is most frequent, it is most likely to be the one of the missing values. For the prices insteas since only four rows have missing value and it the value that we are predicting, we simply remove those fow rows.